<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265021858227-4m89cpfk78vb2h6f83ns7asgtipf98nt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265021858227-4m89cpfk78vb2h6f83ns7asgtipf98nt</string>
	<key>API_KEY</key>
	<string>AIzaSyDqPoh0zPAZwM4-WNjoVEdSBGOe6oNycJs</string>
	<key>GCM_SENDER_ID</key>
	<string>265021858227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatstream.chatstream</string>
	<key>PROJECT_ID</key>
	<string>streamchatapp-32a9b</string>
	<key>STORAGE_BUCKET</key>
	<string>streamchatapp-32a9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265021858227:ios:0442775417f41c2b5c2bc6</string>
</dict>
</plist>